<br><br>
		
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--4-col"></div>
			<div class="mdl-cell mdl-cell--4-col" id="newuserform">

				{{#if userexists}}
    			<h4 align="center" class="alertmsg">{{userexists}}</h4>
    			{{/if}}

				<h3 align="center">Please fill out the user details</h3>
				<form method = "post" action="/api/newuser">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" name="firstname" id="firstname">
						<label class="mdl-textfield__label" for="firstname">First Name</label>
					</div><br>
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" name="lastname" id="lastname">
						<label class="mdl-textfield__label" for="lastname">Last Name</label>
					</div><br>
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" name="username" id="username">
						<label class="mdl-textfield__label" for="username">Username</label>
					</div><br>
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="password" name="password" id="password">
						<label class="mdl-textfield__label" for="password">Password</label>
					</div><br>
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" name="email" id="email">
						<label class="mdl-textfield__label" for="email">Email</label>
					</div><br>
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text"  name="street" id="street">
						<label class="mdl-textfield__label" for="street">Street</label>
					</div><br>
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" name ="city" id="city">
						<label class="mdl-textfield__label" for="city">City</label>
					</div><br>
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" name="state" id="state">
						<label class="mdl-textfield__label" for="state">State</label>
					</div><br>
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" name="zipcode" pattern="-?[0-9]*(\.[0-9]+)?" id="zipcode">
						<label class="mdl-textfield__label" for="zipcode">Zipcode</label>
						<span class="mdl-textfield__error">Input is not a number!</span>
					</div><br>
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" name="phone" pattern="-?[0-9]*(\.[0-9]+)?" id="phone">
						<label class="mdl-textfield__label" for="phone">Phone</label>
						<span class="mdl-textfield__error">Input is not a number!</span>
					</div><br>
					<label class="mdl-radio mdl-js-radio" for="user">
						<input type="radio" id="user" name="usertype" class="mdl-radio__button" value=0 checked>
						<span class="mdl-radio__label">User</span>
					</label>

					<label class="mdl-radio mdl-js-radio" for="admin">
						<input type="radio" id="admin" name="usertype" class="mdl-radio__button" value=1>
						<span class="mdl-radio__label">Admin</span>
					</label>&nbsp;&nbsp;&nbsp;&nbsp;
					<!-- Raised button with ripple -->
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
						Submit
					</button>
				</form>
			</div>
			<div class="mdl-cell mdl-cell--4-col"></div>
		</div>
	</div>

	<br><br><br><br><br><br><br><br><br><br><br><br>