
<script src="https://code.jquery.com/jquery.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div class="container">
<div class="jumbotron" style="text-align: center;">
	<h1>Quality Control</h1>
</div>
{{#each data}}
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
			<div class="panel-heading" style="text-align: center;"><h2>Please Confirm Quality for Device: {{serial_id}}</h2>
				<div class="panel-body">
					<table class="table">
						<th style="text-align: center;">SKU: {{products_sku}}</th>
						<th style="text-align: center;">Order Number: {{orders_id}}</th>
						<th style="text-align: center;">Previous Station: {{station_name}}</th>
					</table>
					<h3>Does this device meet all quality standards?</h3>
					<form action="/quality-confirm/" method="GET">
					<input type="text" name="scan" autofocus="">
					<button>SUBMIT</button>	
					</form><br>
					<a href="/allOrders">BACK to OPEN ORDERS</a>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
{{/each}}