
<div align="center">
	<h2>View Reports</h2><br>
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fullwidth">
		<select id="reports" name="repogen" class="mdl-textfield__input">
		<option value=""></option>
		<option value="/api/quality-report">quality</option>
		<option value="/api/ordersShipped-report">Orders Shipped</option>
		<option value="/api/orderssku-report">Orders per product</option>
		</select>
		<label class="mdl-textfield__label" for="reports">Reports</label>
	</div>
	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="genBtn">Generate</button>

	<div id="container2" align="center">
	</div>
</div>
<br><br><br><br><br><br><br><br><br>
<script src="js/orders.js" type="text/javascript"></script>